@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: auto;
  background: linear-gradient(
    150.73deg,
    #080f31 30.39%,
    hsl(292, 68%, 19%) 85.1%
  );
  background-repeat: no-repeat;
  height: 100%;
  font-family: "Indie Flower", cursive;
}
section {
  padding: 3rem 0;
}
header,
.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}
.welcome-header {
  margin-inline: auto;
  height: 1150px;
  background-image: url(images/CRYSTAL\ ball\ 1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  /* display: flex; */
}
.nav {
  display: flex;
  justify-content: space-around;
  font-size: 35px;
  padding: 50px;
}
.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  
}
@media (max-width: 700px) {
  .nav {
    flex-direction: column;
    flex-flow:column;
    justify-content: center;
  }
  .nav-wrapper {
    /* align-self: flex-end; */
    padding: 5px;
    align-items: center;
    align-self: center;
  }
  .nav-wrapper a{
    color:hsl(266, 74%, 21%);
    font-weight: bold;
  }
}
.page-container{
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-top: 245px;
}
.page-header{
  color:hsl(266, 74%, 21%);
  font-size: 55px;
  align-self: center;
  text-transform: uppercase;
}
@media (max-width: 700px){
  .page-container{
    justify-content: center;
    align-items: center;
    margin:10px;
  }
  .page-header{
    color: #fff;
    align-self: center;
    font-size: 35px;
    padding: 10px 0 10px 0;
  }
}

.bg-about{
  display: flex;
  color: #fff;
  justify-content: center;
  margin:10px;
  font-size: 40px;
}
.sm-about{
  display: flex;
}

@media (max-width: 700px){
  .bg-about{
    font-size: 30px;
    align-items: stretch;
    margin: 15px;
  }
  .sm-about{
    justify-content: center;
  }
  .about{
    padding-bottom: 165px;
  }
}
@media (max-width: 500px){
  .about-header{
    align-self: center;
  }
}